.container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
}

.centeredDiv {
    min-height: 700px;
    min-width: 600px;
    background-color: rgba(75, 75, 230, 0.329);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px 600px 50px 50px 85px;

}

.leftmargin {
    display: inline-grid;
    grid-template-rows: 65px;
    justify-items: center;
    
}
.scoreboardtitle {
    font-size: 44px;
}
.scores {
    font-size: 22px;
    justify-self: left;
}

.gamenamearea {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(226, 122, 240, 0.349);
}

.tictactoegrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    height: 600px;
    width: 600px;
    max-width: 600px;
    justify-items: stretch;
    align-items: stretch;
    
}

.letterarea {
    font-size: 100px;
    text-align: center;
    min-height: 200px;
    min-width: 200px;
    line-height: 200px;

}
.letterarea:hover {
    background-color: rgba(127, 20, 199, 0.342);
}

.x {
    color: rgba(165, 11, 11, 0.479);
}

.o {
    color: rgba(10, 10, 194, 0.5);
}

.nameArea {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.24);
}
#newGame {
    background-color: rgba(201, 74, 252, 0.555);
    color: white;
    font-size: 44px;
    border-radius: 4px;
    outline: none;
    border: none;
}
#newGame:hover {
    background-color: rgba(202, 74, 252, 0.89);
}
#newGame:active {
    box-shadow: 0px 0px 8px white;
}
#newGame:focus {
    outline: none;

}
#namebutton {
    background-color: rgba(40, 142, 160, 0.555);
    color: white;
    font-size: 33px;
    border-radius: 4px;
    outline: none;
    border: none;
}
#namebutton:hover {
    background-color: rgba(74, 252, 228, 0.384);
}
#namebutton:active {
    box-shadow: 0px 0px 8px white;
}
#namebutton:focus {
    outline: none;

}

